@use '../abstracts/' as *;

.main-header {
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    color: $primary-dark-blue;
    letter-spacing: 2px;
}

.header {

    font-size: 4rem;
    margin: 20px 0;
    color: $primary-teal;
}
