/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: black;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-header {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  color: #264653;
  letter-spacing: 2px;
}

.header {
  font-size: 4rem;
  margin: 20px 0;
  color: #2a9d8f;
}

body {
  color: black;
  font-family: "Open Sans", "Roboto", sans-serif;
}

.navbar {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  padding: 2rem;
}

.navbar__links {
  display: flex;
  margin-right: 25px;
}

.navbar__link {
  margin: 0 25px;
}

.navbar__link a {
  transition: color 0.25s;
}

.navbar__link a:hover {
  color: #f4a261;
}

.form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group--submit {
  margin: 25px 0;
}

.form-label {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.6px;
}

.form-control {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  font-size: 2rem;
}

.form-submit {
  background-color: #2a9d8f;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 10px;
  letter-spacing: 1.6px;
  width: 150px;
  cursor: pointer;
}

.btn {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 10px;
  letter-spacing: 1.6px;
  width: 150px;
  cursor: pointer;
}

.btn--form-submit {
  background-color: #264653;
  color: #fff;
}

.container {
  margin: 100px auto;
  max-width: 1100px;
}

.form-container {
  display: flex;
}

