container_commands: 
  01_drop_tables:
    command:
      "php artisan migrate:fresh"
    leader_only: true

  02_initdb:
    command: 
      "php artisan migrate"
    leader_only: true

  03_seedauthor:
    command:
      "php artisan db:seed --class=AuthorSeeder --force"
      
  04_seedbook:
    command:
      "php artisan db:seed --class=BookSeeder --force"
