$text-font-stack: 'Open Sans', 'Roboto', sans-serif !default;
$text-color: black;

$primary-red: #e60012;
$primary-green: #069b48;
$yellow-timer-background: #ffd200;
$green-underline: #069b48;
$modal-text-green: #3c8a39;
$primary-grey: #d5d5d5;
