$text-font-stack: 'Open Sans', 'Roboto', sans-serif !default;
$text-color: black;

$primary-dark-blue: #264653;
$primary-teal: #264653;
$secondary-orange: #e76f51;
$primary-orange: #f4a261;
$primary-yellow: #e9c46a;

